# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Supabase
supabase/.temp/

# Vercel
.vercel

# Node
node_modules/
package-lock.json

# Binarios locales
supabase.exe
supabase.tar.gz
flutter.zip
